* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: black;
    margin: 0;
    padding: 40px;
    line-height: 1.6;
}

.container {
    max-width: 3000%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    color: #636363;
    margin-bottom: 30px;
    font-size: 2.5em;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

